@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@(routeID: Long)

@import helper._

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Create Trip") {




  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <header>
        <div class="container">
            <div id="branding">
                <h2>Road Trippin'</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/tripcreate">Create Trip</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/user">Log In</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="mapsection">
        <div id="map"></div>
    </section>

    <section id="options">
        <div id="side_bar">
            <center>
                <div id="ratings">
                    <br>

                    <button id="rating_submit" onclick="submitRating()">Rate</button>
                    <select id="route_rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </center>
            <p id="route_id">@routeID</p>

        </div>
    </section>










    <script>
            //Initializes the map and sets up routing services.
            var map;
            var directionsService;
            var directionsDisplay;
            var service;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 39.0119, lng: -98.4842},
                    zoom: 5
                });

                service = new google.maps.places.PlacesService(map);

                directionsService = new google.maps.DirectionsService();
                directionsDisplay = new google.maps.DirectionsRenderer();
                directionsDisplay.setMap(map);
            }
    </script>

    <script>



                $(document).ready(function(){
                    console.log("Running")
                    var x = document.getElementById("route_id").innerText;
                    var data = {"route" : x};
                    $.ajax({
                        type : 'POST',
                        url : '@routes.HomeController.getRouteFromDB()',
                        data : JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json',
                        success : function(returnData) {
                            console.log("Success");
                            console.log(returnData);
                        },
                        error : function(returnData) {
                            console.log("Fail");
                            console.log(returnData);

                        }
                    });
                });

                //var final_route = await calculateRoute(directionsService, directionsDisplay);

                //var data;



            function submitRating() {
                var x  = document.getElementById("route_rating").value;
                var y = document.getElementById("routeID").innerText;
                var data = {"trip_rating" : x,
                            "trip_id" : y};
                $.ajax({
                    type : 'POST',
                    url : '@routes.RatingsController.addRating',
                    data : JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success : function(data) {
                        console.log("Success");
                        console.log(data);
                    },
                    error : function(data) {
                        console.log("Fail");
                        console.log(data);
                    }
                });

            }
    </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYZdCpCHLlMxV_gdqMUV-4c6t9iFhLaxM&libraries=places&callback=initMap"
    type="text/javascript"></script>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/main.js")'></script>




}
