


@main ("Road Trippin'") {
<html>
    <head>
        <title>Road Trippin'</title>
        <meta name="description" content="Road Trip generation">
        <meta name='author' content="Thomas Shoff">
        <meta charset="utf-8">
        <meta name="keywords" content="road trips, free">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
    </head>

    <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")" type="text/javascript"></script>


    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h2>Road Trippin'</h2>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/trip">Create Trip</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="/user">Log In</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <section id="showcase" style="background-image: url('@routes.Assets.versioned("images/highway.jpg")')">
            <div class="container">
                <h1>Endless Road Trip Creation</h1>
                <h2>Explore Your Limits</h2>
            </div>
        </section>

        <section id="overview">
            <div class="container-overview">
                <h1>Road Trip Creation</h1>
                <p>Road Trippin' is a brand new solution to an age old adage.  It's not about the destination, it's about the journey! What better way to make your journey something special than to visit brand new places?
                  With randomly generated routes from your desired start to your desired end, Road Trippin' tries to give you a journey to remember.  Just pick how many stops you would like, and plot your course!
                </p>
            </div>
        </section>

        <section id="Listings">
          <div id="recent">
            <h2>
              <center>
                Recently Created Trips
                </center>
                </h2>
          </div>
            <div id="random">
              <h2>
                <center>
                  Random Trips
                  </center>
                  </h2>
            </div>
        </section>

        <footer class="footer">
            <div class="container">

	  </div>
        </footer>

        <script>


//AIzaSyBYZdCpCHLlMxV_gdqMUV-4c6t9iFhLaxM
                    $(document).ready(function(){
                        $.ajax({
                            type : 'GET',
                            url : '@routes.HomeController.generateRecentRouteList()',
                            dataType: 'json',
                            contentType: 'application/json',
                            success : function(response) {
                                console.log("Success");
                                console.log(response);
                                var recent = document.getElementById("recent");
                                var directionsService = new google.maps.DirectionsService();
                                for(var j = response.length - 1; j >= 0; j--) {
                                    var polyline;
                                    var waypnts = [];
                                    if(response[j].waypointOne != "null") {
                                        waypnts.push({"location" : response[j].waypointOne, "stopover" : true});
                                    }
                                    if(response[j].waypointTwo != "null") {
                                        waypnts.push({"location" : response[j].waypointTwo, "stopover" : true});
                                    }
                                    if(response[j].waypointThree != "null") {
                                        waypnts.push({"location" : response[j].waypointThree, "stopover" : true});
                                    }
                                    if(response[j].waypointFour != "null") {
                                        waypnts.push({"location" : response[j].waypointFour, "stopover" : true});
                                    }
                                    if(response[j].waypointFive != "null") {
                                        waypnts.push({"location" : response[j].waypointFive, "stopover" : true});
                                    }
                                    var request = {
                                        origin: response[j].startLocation,
                                        destination: response[j].endLocation,
                                        travelMode: "DRIVING",
                                        waypoints: waypnts,
                                        optimizeWaypoints: true
                                    };
                                    directionsService.route(request, function(result, status) {
                                        if (status ==='OK') {
                                            console.log(result);
                                            polyline = result.routes[0].overview_polyline;
                                            var div = document.createElement("DIV");
                                            div.setAttribute("class", "route");
                                            var a = document.createElement("A");
                                            a.setAttribute("href", "/trip/route=" + response[j].tripId);
                                            var img = document.createElement("IMG");
                                            img.setAttribute("src", "https://maps.googleapis.com/maps/api/staticmap?path=weight:10%|color:red|enc:"+ polyline + "&size=600x400&maptype=hybrid&key=AIzaSyBYZdCpCHLlMxV_gdqMUV-4c6t9iFhLaxM");
                                            a.appendChild(img);
                                            div.appendChild(a);
                                            recent.appendChild(div);
                                        }
                                    });
                                }
                            },
                            error : function(response) {
                                console.log("Could not load route");
                                alert("Could not load route, please try again!");s
                                console.log(response);

                            }
                        });

                        $.ajax({
                            type : 'GET',
                            url : '@routes.HomeController.generateRandomRouteList()',
                            dataType: 'json',
                            contentType: 'application/json',
                            success : function(response) {
                                console.log("Success");
                                console.log(response);
                                var random = document.getElementById("random");
                                var directionsService = new google.maps.DirectionsService();
                                for(var j = 0; j < response.length; j++) {
                                    var polyline;
                                    var waypnts = [];
                                    if(response[j].waypointOne != "null") {
                                        waypnts.push({"location" : response[j].waypointOne, "stopover" : true});
                                    }
                                    if(response[j].waypointTwo != "null") {
                                        waypnts.push({"location" : response[j].waypointTwo, "stopover" : true});
                                    }
                                    if(response[j].waypointThree != "null") {
                                        waypnts.push({"location" : response[j].waypointThree, "stopover" : true});
                                    }
                                    if(response[j].waypointFour != "null") {
                                        waypnts.push({"location" : response[j].waypointFour, "stopover" : true});
                                    }
                                    if(response[j].waypointFive != "null") {
                                        waypnts.push({"location" : response[j].waypointFive, "stopover" : true});
                                    }
                                    var request = {
                                        origin: response[j].startLocation,
                                        destination: response[j].endLocation,
                                        travelMode: "DRIVING",
                                        waypoints: waypnts,
                                        optimizeWaypoints: true
                                    };
                                    directionsService.route(request, function(result, status) {
                                        if (status ==='OK') {
                                            console.log(result);
                                            polyline = result.routes[0].overview_polyline;
                                            var div = document.createElement("DIV");
                                            div.setAttribute("class", "route");
                                            var img = document.createElement("IMG");
                                            img.setAttribute("src", "https://maps.googleapis.com/maps/api/staticmap?path=weight:10%|color:red|enc:"+ polyline + "&size=400x400&maptype=hybrid&key=AIzaSyBYZdCpCHLlMxV_gdqMUV-4c6t9iFhLaxM");
                                            div.appendChild(img);
                                            random.appendChild(div);
                                        }
                                    });
                                }
                              },
                            error : function(response) {
                                console.log("Could not load route");
                                alert("Could not load route, please try again!");s
                                console.log(response);

                            }
                        });
                    });
          </script>


        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYZdCpCHLlMxV_gdqMUV-4c6t9iFhLaxM&libraries=places"
        type="text/javascript"></script>

    </body>

    </html>

}
