


@main ("Road Trippin'") {
<html>
    <head>
        <title>Road Trippin'</title>
        <meta name="description" content="Road Trip generation">
        <meta name='author' content="Thomas Shoff">
        <meta charset="utf-8">
        <meta name="keywords" content="road trips, free">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
    </head>

    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h2>Road Trippin'</h2>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/tripcreate">Create Trip</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <section id="showcase" style="background-image: url('@routes.Assets.versioned("images/highway.jpg")')">
            <div class="container">
                <h1>Endless Road Trip Creation</h1>
                <h2>Explore Your Limits</h2>
            </div>
        </section>

        <section id="overview">
            <div class="container-overview">
                <h1>Road Trip Creation</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel purus et augue placerat mattis. Vivamus ac urna erat. Vestibulum hendrerit sed sem a scelerisque. Duis sit amet pellentesque orci. Nulla pellentesque a quam in cursus. Pellentesque vulputate egestas mi. Morbi varius convallis velit, non lacinia tellus.</p>
            </div>
        </section>

        <footer class="footer">
            <div class="container">

	  </div>
        </footer>

    </body>

}
