@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@(personForm: Form[Person], tripForm: Form[Trip])

@import helper._

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
  <ul id="persons"></ul>

    @form(routes.HomeController.addPerson()) {
      @CSRF.formField
      @inputText(personForm("name"), '_label -> "Person Name", '_help -> "")

      <input type="submit" value="Submit">
    }

    <h1> Route Information </h1>

    @form(routes.HomeController.addTrip()) {
      @CSRF.formField
      @inputText(tripForm("startLocation"), '_label -> "Start Location", '_help -> "")
      @inputText(tripForm("endLocation"), '_label -> "End Location", '_help -> "")
      <select value="stopCount" name="stops" required>
        <option value=""> 0 </option>
        <option value="1"> 1 </option>
        <option value="2"> 2 </option>
        <option value="3"> 3 </option>
        <option value="4"> 4 </option>
        <option value="5"> 5 </option>
      </select>

      <input type="submit" value="Submit">
    }

}
