@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@()

@import helper._

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Create Trip") {




  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <header>
        <div class="container">
            <div id="branding">
                <h2>Road Trippin'</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/trip">Create Trip</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/user">Log In</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="mapsection">
        <div id="map"></div>
    </section>

    <section id="options">
        <div id="side_bar">
            <center>
                <h1> Route Information </h1>
                <form action="@routes.HomeController.saveRouteInfo()" method="post">
                    @CSRF.formField
                    Start Location: <br>
                    <input type="text" name="startLocation" id="start_input_form">
                    <br>
                    <br>
                    End Location: <br>
                    <input type="text" name="endLocation" id="end_input_form">
                    <br>
                    <br>
                    <h1> Number of Waypoints </h1>
                    <select name="stopCount" id="number_of_waypoints" required>

                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                    </select>
                    <br>
                </form>


                <br>
                <br>
                Trip Type
                <select id="trip_type">
                    <option value="Food">Food</option>
                    <option value="Entertainment">Entertainment</option>
                </select>
                <br>
                <br>
                <button id="submitButton" onclick="plot()">Plot Route</button>
                <p id="routeID"></p>
                <br>
                <br>



                <div id="ratings">
                    <br>
                    Rate this Trip!
                    <br>

                    <button id="rating_submit" onclick="submitRating()">Rate</button>
                    <select id="route_rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br>
                    <br>
                    Share your trip on Twitter!
                    <br>

                    <div id="twitterButton">
                        <a
                        href="https://twitter.com/share"
                        id="tweet"
                        class="twitter-share-button"
                        data-url=""
                        data-text="Check out this Trip!"
                        data-hashtags="RoadTrippin"
                        data-size="large"
                        data-count="none">Tweet</a>

                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    <script type="text/javascript">
                            var route = $("#routeID").text()
                            $('#twitterButton').click(function (e) {
                                $("a").attr("data-url", "http://localhost:9000/trip/route="+route);
                                alert("http://localhost:9000/trip/route="+route)
                            });
                    </script>


                        <!--<button id="hide" onclick="test()">Test</button>-->

                    <script>
                        function test(){
                            //alert($('input#foo').val());
                            alert($("#routeID").text());

                        }
                    </script>

                </div>
            </center>
        </div>
    </section>








    <script>
            function getURL() {
                var url = "http://localhost:9000/trip/route="
                //var url = "http://fierce-hamlet-30159.herokuapp.com/trip/route=";
                var routeID = $("#routeID").text();
                var finalRoute = url+routeID;
                var twitterURL = document.getElementById("twitter-call");
                twitterURL.setAttribute("data-url",finalRoute);



            }
    </script>

    <script>
            //Initializes the map and sets up routing services.
            var map;
            var directionsService;
            var directionsDisplay;
            var service;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 39.0119, lng: -98.4842},
                    mapTypeId: google.maps.MapTypeId.HYBRID,
                    zoom: 5
                });

                service = new google.maps.places.PlacesService(map);

                directionsService = new google.maps.DirectionsService();
                directionsDisplay = new google.maps.DirectionsRenderer();
                directionsDisplay.setMap(map);
            }
    </script>

    <script>

            async function plot() {
                document.documentElement.scrollTop = 0;
                var final_route = await calculateRoute(directionsService, directionsDisplay);
                var x = document.getElementById("ratings");
                var y = document.getElementById("routeID");
                var z = document.getElementById("number_of_waypoints").value;
                x.style.display = "block";

                var data;
                if(z == 1) {
                    data = JSON.stringify({"start" : final_route.request.origin.query,
                        "end" : final_route.request.destination.query,
                        "waypointOne" : final_route.routes[0].legs[0].end_address,
                        "waypointTwo" : "null",
                        "waypointThree" : "null",
                        "waypointFour" : "null",
                        "waypointFive" : "null"});
                }
                if(z == 2) {
                    data = JSON.stringify({"start" : final_route.request.origin.query,
                        "end" : final_route.request.destination.query,
                        "waypointOne" : final_route.routes[0].legs[0].end_address,
                        "waypointTwo" : final_route.routes[0].legs[1].end_address,
                        "waypointThree" : "null",
                        "waypointFour" : "null",
                        "waypointFive" : "null"});
                }
                if(z == 3) {
                    data = JSON.stringify({"start" : final_route.request.origin.query,
                        "end" : final_route.request.destination.query,
                        "waypointOne" : final_route.routes[0].legs[0].end_address,
                        "waypointTwo" : final_route.routes[0].legs[1].end_address,
                        "waypointThree" : final_route.routes[0].legs[2].end_address,
                        "waypointFour" : "null",
                        "waypointFive" : "null"});
                }
                if(z == 4) {
                    data = JSON.stringify({"start" : final_route.request.origin.query,
                        "end" : final_route.request.destination.query,
                        "waypointOne" : final_route.routes[0].legs[0].end_address,
                        "waypointTwo" : final_route.routes[0].legs[1].end_address,
                        "waypointThree" : final_route.routes[0].legs[2].end_address,
                        "waypointFour" : final_route.routes[0].legs[3].end_address,
                        "waypointFive" : "null"});
                }
                if(z == 5) {
                    data = JSON.stringify({"start" : final_route.request.origin.query,
                        "end" : final_route.request.destination.query,
                        "waypointOne" : final_route.routes[0].legs[0].end_address,
                        "waypointTwo" : final_route.routes[0].legs[1].end_address,
                        "waypointThree" : final_route.routes[0].legs[2].end_address,
                        "waypointFour" : final_route.routes[0].legs[3].end_address,
                        "waypointFive" : final_route.routes[0].legs[4].end_address});
                }

                $.ajax({
                    type : 'POST',
                    url : '@routes.HomeController.saveRouteInfo',
                    data : data,
                    dataType: 'html',
                    contentType: 'application/json',
                    success : function(data) {
                        console.log("Route saved");
                        console.log(data);
                        y.innerHTML = parseInt(data);
                        y.style.display = "none";
                    },
                    error : function(data) {
                        console.log("Fail");
                        console.log(data);
                    }
                });




            }


            function submitRating() {
                var x  = document.getElementById("route_rating").value;
                var y = document.getElementById("routeID").innerText;
                var data = {"trip_rating" : x,
                            "trip_id" : y};
                $.ajax({
                    type : 'POST',
                    url : '@routes.RatingsController.addRating',
                    data : JSON.stringify(data),
                    dataType: 'html',
                    contentType: 'application/json',
                    success : function(data) {
                        console.log("Rating submited");
                        alert("Rating submited!");
                    },
                    error : function(data) {
                        console.log("Could not submit");
                        console.log(data);
                        alert("Something went wrong, please try again later!")
                    }
                });

            }
    </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYZdCpCHLlMxV_gdqMUV-4c6t9iFhLaxM&libraries=places&callback=initMap"
    type="text/javascript"></script>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/main.js")'></script>




}
