@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@(userForm: Form[User], tripForm: Form[Trip])

@import helper._

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <div id="main">
        <div id="map"></div>

        <div id="side_bar">
            <form class="input-form" action="@routes.UserController.createUser()" method="post">
                @CSRF.formField
                <input type="text" name="name" id="user_name_input">
                <input type="text" name="location" id="user_location_input">
                <input type="submit" value="Create user">
            </form>
            <center>
                <h2>Location</h2>
                @form(routes.HomeController.addTrip()) {
                    @CSRF.formField
                    @inputText(tripForm("start"), '_label -> "Start: ", '_help -> "")
                    @inputText(tripForm("end"), '_label -> "Finish: ", '_help -> "")
                    <select value="stopCount" name="stops" required>
                        <option value=""> 0 </option>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                    </select>
                    <input id="submitButton" type="submit" value="Submit">
                }

                <br>
                <br>
                Trip Type
                <select id="trip_type">
                    <option value="Food">Food</option>
                    <option value="Entertainment">Entertainment</option>
                </select>
                <br>
                <br>
                <button id="submitButton">Submit</button>
            </center>


            <br>

            <div id="direction_div">

            </div>

            <div id="rating_div">
                <br>
                <center>
                    <button id="rating_submit">Rate This Route!</button>
                    <select id="route_rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </center>
            </div>
        </div>

    </div>

    <script>
            //Initilizes the map and sets up routing services.
            var map;
            var directionsService;
            var directionsDisplay;
            var service;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 39.0119, lng: -98.4842},
                    zoom: 5
                });
                service = new google.maps.places.PlacesService(map);
                directionsService = new google.maps.DirectionsService();
                directionsDisplay = new google.maps.DirectionsRenderer();
                directionsDisplay.setMap(map);
                //Event listener for submit button
                document.getElementById('submitButton').addEventListener('click', function() {
                    calculateRoute(directionsService, directionsDisplay);
                });
            }
    </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYZdCpCHLlMxV_gdqMUV-4c6t9iFhLaxM&libraries=places&callback=initMap"
    type="text/javascript"></script>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/main.js")'></script>
}
