@(userForm: Form[UserAccount])

@import helper._

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Login") {
    <body>
        <form class="input-form" action="@routes.UserAccountController.logout()" method="post">
            @CSRF.formField
            <input type="text" name="name" id="user_id_input">
            @*<input type="text" name="password" id="user_password_input">*@
            <input type="submit" value="Logout">
        </form>
    </body>
}