@(userForm: Form[UserAccount])

@import helper._

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Login") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <header>
        <div class="container">
            <div id="branding">
                <h2>Road Trippin'</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/trip">Create Trip</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="/user/create">Create an Account</a></li>
                    <li><a href="/user">Profile</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
    <body>
        <form class="input-form" action="@routes.UserAccountController.logout()" method="post">
            @CSRF.formField
            <input type="text" name="name" id="user_id_input">
            @*<input type="text" name="password" id="user_password_input">*@
            <input type="submit" value="Logout">
        </form>
    </body>
    </center>
}