@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/div_styles.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">


        <meta name="description" content="Road Trip generation">
        <meta name='author' content="Thomas Shoff">
        <meta charset="utf-8">
        <meta name="keywords" content="road trips, free">
        <meta name="viewport" content="width=device-width">


        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
            <style>
          #main {
            height: 700px;
              width: 100%;
          }
          #map {
              float: left;
              height: 100%;
              width: 80%;
          }
          #side_bar {
            width: 20%;
              float: right;
          }
          html, body {
              height: 100%;
              margin: 0;
              padding: 0;
          }
            </style>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </body>
</html>
