@*
* This template takes a single argument, a String containing a
* message to display.
*@

@(userForm: Form[UserAccount])

@import helper._

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("User Settings") {

    <head><b>User Settings</b></head>
    <body>
        <b1>Create user</b1>
        <form class="input-form" action="@routes.UserAccountController.createUser()" method="post">
            @CSRF.formField
            <input type="text" name="name" id="user_name_input">
            <input type="text" name="location" id="user_location_input">
            <input type="submit" value="Create user">
        </form>
        <b1>Update user</b1>
        <form class="input-form" action="@routes.UserAccountController.updateUser()" method="put">
            @CSRF.formField
            <input type="text" name="id" id="id_input">
            <input type="text" name="name" id="user_name_input">
            <input type="text" name="location" id="user_location_input">
            <input type="submit" value="Update user">
        </form>
        <b1>Get user</b1>
        <form class="input-form" action="@routes.UserAccountController.getUser()" method="get">
            @CSRF.formField
            <input type="text" name="id" id="id_input">
            <input type="submit" value="Get user">
        </form>
        <b1>Get all users</b1>
        <form class="input-form" action="@routes.UserAccountController.listUsers()" method="get">
            <input type="submit" value="Get all users">
        </form>
    </body>
    <footer></footer>
}